<form action="/create" method="post">
<h2>Create Page</h2>
<div class="input-field">
   <input type="text" name="nameUser">
   <label>Users create</label>
</div>

<button type="submit" class="btn">Create</button> <!-- if type bnt == submin then we give over information for server-->
</form>


