<nav class="orange darken-4">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Users Collection</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

         {{#if isIndex}}
        <li class="active"><a href="/">Users Collection</a></li>
         {{else}}
        <li><a href="/">Users Collection</a></li>
         {{/if}}
         {{#if isCreate}}
        <li class="active"><a href="/create">Create Users</a></li>
         {{else}}
        <li><a href="/create">Create Users</a></li>
         {{/if}}

      </ul>
    </div>
  </nav>